extends layout
block content
    .page-content
        .container
            h2
                |#{user.firstname}
                |#{user.surname}
                span.grey
                    |  (#{user.email})
            hr
            .row
                .col-md-12
                    form#form-profile(name="form-profile")
                        .col-md-4
                            .user-photo
                                img(src="img/fit1.jpg")
                        .col-md-6
                            .form-group
                                label.control-label &#1055;&#1086;&#1083;:
                                select.form-control.fc-field(data-server_name="gender", data-title="Пол", data-editor="select", data-value="#{user.gender}")
                                    option &#1052;&#1091;&#1078;&#1089;&#1082;&#1086;&#1081;
                                    option &#1046;&#1077;&#1085;&#1089;&#1082;&#1080;&#1081;
                            .form-group
                                label.control-label &#1044;&#1072;&#1090;&#1072; &#1088;&#1086;&#1078;&#1076;&#1077;&#1085;&#1080;&#1103;:
                                .input-group
                                    input.form-control.cf_datepicker.fc-field(type="text", data-server_name="birthday", data-title="Дата рождения", data-editor="date", placeholder="Дата рождения", value="#{user.birthday}")
                                    .input-group-addon
                                        i.fa.fa-calendar
                            .form-group
                                label.control-label &#1058;&#1077;&#1083;&#1077;&#1092;&#1086;&#1085;:
                                .input-group
                                    .input-group-addon +7
                                    input.form-control.maskedPhone.fc-field(type="text", data-server_name="phone", data-title="Телефон", data-editor="phone", placeholder="Телефон", value="#{user.phone}")
                            .form-group
                                label.control-label
                                    | &#1043;&#1086;&#1088;&#1086;&#1076;:
                                    span.red-star *

                                select.form-control.fc-field(data-server_name="city", data-title="Город", data-required="true", data-editor="select", data-value="#{user.city}")
                                    option &#1052;&#1086;&#1089;&#1082;&#1074;&#1072;
                                    option &#1057;&#1072;&#1085;&#1082;&#1090;-&#1055;&#1077;&#1090;&#1077;&#1088;&#1073;&#1091;&#1088;&#1075;
                                    option &#1045;&#1082;&#1072;&#1090;&#1077;&#1088;&#1080;&#1085;&#1073;&#1091;&#1088;&#1075;
                                    option &#1058;&#1074;&#1077;&#1088;&#1100;
                                    option &#1050;&#1072;&#1083;&#1091;&#1075;&#1072;
                            .form-group
                                label.control-label
                                    | &#1050;&#1083;&#1091;&#1073;:
                                    span.red-star *

                                select.form-control.fc-field(data-server_name="club", data-title="Клуб", data-required="true", data-editor="select", data-value="#{user.club}")
                                    option &#1053;&#1077; &#1089;&#1086;&#1089;&#1090;&#1086;&#1102; &#1074; &#1082;&#1083;&#1091;&#1073;&#1077;
                                    option &#1050;&#1083;&#1091;&#1073; 1
                                    option &#1050;&#1083;&#1091;&#1073; 2
                                    option &#1050;&#1083;&#1091;&#1073; 3
                                    option &#1050;&#1083;&#1091;&#1073; 4
                            .form-group
                                label.control-label &#1042;&#1077;&#1089;:
                                .input-group
                                    input.form-control.fc-field(type="number", data-server_name="weight", data-title="Вес", data-editor="number", placeholder="Вес", value="#{user.weight}")
                                    .input-group-addon &#1082;&#1075;.

            hr